.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: $mobile-upper) {
		width: $mobile-upper;
	}
	@media screen and (min-width: $tablet-upper) {
		width: $tablet-upper;
	}
	@media screen and (min-width: $desktop-upper) {
		width: $desktop-upper;
	}
}
