/* contacts */

.contacts {
	@extend %list;
	// display: flex;
	margin-left: auto;

	// & .item + .item {
	// 	margin-left: 30px;
	// }

	@media screen and (max-width: $tablet-upper) {
		margin-top: 60px;
	}

	&-icon {
		margin-right: 10px;
		fill: currentColor;
	}
}

.contacts .item {
	@media screen and (max-width: $tablet-upper) {
		margin-bottom: 16px;
	}
	&:last-child {
		@media screen and (max-width: $tablet-upper) {
			margin-bottom: 0px;
		}
	}
}

.contacts .link {
	padding-top: 32px;
	padding-bottom: 32px;

	display: flex;
	align-items: center;
	color: $additional-color;
	text-decoration: none;
	transition: color 250ms $timing-transition;

	@media screen and (max-width: $tablet-upper) {
		justify-content: center;
		padding: 0;
	}

	&:hover,
	&:focus {
		color: $text-color-hover;
	}
}
