/* section with features of the company */

.features {
	@extend %list;
	padding-top: 94px;
	padding-bottom: 94px;
	// display: flex;

	@media screen and (max-width: $mobile-upper) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	& .item {
		@media screen and (max-width: $mobile-upper) {
			margin-bottom: 30px;
		}

		// margin-right: 30px;
		// width: calc((100% - 90px) / 4);
	}
	& .item:last-child {
		margin-right: 0;

		@media screen and (max-width: $mobile-upper) {
			margin-bottom: 0px;
		}
	}
	&-title {
		margin-bottom: 10px;

		@include font($fw: 700, $lh: 1.14);
		text-transform: uppercase;

		@media screen and (max-width: $mobile-upper) {
			text-align: center;
		}
	}
	&-text {
		margin-top: 0px;
		margin-bottom: 0px;

		color: $additional-color;
		@include font();
	}
	&-icon {
		padding: 25px 100px;
		margin-bottom: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
		background: #f5f4fa;
		border-radius: 4px;
	}
}
