/* footer-tools */

.footer {
	background-color: #2f303a;

	@media screen and (max-width: $mobile-upper) {
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
	}

	&-list {
		// display: flex;
		align-items: baseline;
		justify-content: space-between;
	}
}
