/* nav-section */

.nav-section {
	display: flex;
	align-items: center;

	@include font(500, 14px, 1.14, 0.02em);

	@media screen and (max-width: $mobile-upper) {
		padding: 16px 15px;
	}
}

.nav {
	@extend %list;
	display: flex;
	margin-left: 85px;

	& .item + .item {
		margin-left: 50px;
	}
	@media screen and (max-width: $mobile-upper) {
		display: none;
	}
}

.nav .link {
	position: relative;

	padding-top: 32px;
	padding-bottom: 32px;

	display: flex;
	color: $primary-text-color;
	text-decoration: none;

	transition: color 250ms $timing-transition;

	&:hover,
	&:focus {
		color: $text-color-hover;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 4px;

		background: $text-color-hover;
		border-radius: 2px;
		opacity: 0;
	}
	&.active::after {
		opacity: 1;
	}
	&.active {
		color: $text-color-hover;
	}
}
.menu-button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	& .icon-close-burger {
		display: none;
	}
	&.is-open .icon-close-burger {
		display: block;
	}
	&.is-open .icon-burger {
		display: none;
	}
}
