/* the team of company */

.section-team {
	background-color: #f5f4fa;

	@media screen and (min-width: $mobile-upper) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: $desktop-upper) {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	& img {
		@extend %image;
	}

	& .title {
		text-align: center;

		@media screen and (min-width: $mobile-upper) {
			@include font(700, 28px, 1.17, 0.03em);
			margin-bottom: 30px;
		}
		@media screen and (min-width: $desktop-upper) {
			@include font(700, 36px, 1.16, 0.03em);
			margin-bottom: 50px;
		}
	}
	& .person {
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 10px;

		@include font(500, 16px, 1.18, 0.03em);

		text-align: center;
	}
}

.team {
	@extend %list;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team .item {
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 481px) {
		max-width: 354px;
	}
	@media screen and (min-width: $tablet-upper) {
		width: calc((100% - 30px) / 2);
		margin-right: 30px;

		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-last-child(-n + 2) {
			margin-bottom: 0;
		}
	}
	@media screen and (min-width: $tablet-upper + 1px) {
		max-width: 270px;
	}
	@media screen and (min-width: $desktop-upper) {
		width: calc((100% - 90px) / 4);
		margin-bottom: 0;
		&:nth-child(2n) {
			margin-right: 30px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.block-person {
	padding-top: 30px;
	padding-right: 32px;
	padding-bottom: 24px;
	padding-left: 32px;

	background: $accent-color;
}

.section-profession {
	margin-top: 0px;
	margin-bottom: 16px;

	@include font(400, 16px, 1.18, 0.03em);

	text-align: center;
}

.social-list {
	@extend %list;
	display: flex;

	justify-content: center;
}
.social-list .social-item {
	margin-right: 10px;

	&:last-child {
		margin-right: 0px;
	}
}

.social-item .link {
	width: 44px;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	fill: $color-social-link;
	transition: background-color 250ms $timing-transition, fill 250ms $timing-transition;

	&:hover,
	&:focus {
		background-color: $text-color-hover;
		fill: $accent-color;
		border-radius: 50%;
	}
}
