$primary-text-color: #212121;
$text-color-hover: #2196f3;
$color-social-link: #afb1b8;
$accent-color: #ffffff;
$additional-color: #757575;
$timing-transition: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: Roboto, sans-serif;
$font-letter-spacing: 0.03em;
$mobile-upper: 480px;
$tablet-upper: 768px;
$desktop-upper: 1200px;
